*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 375px;

  .page-title {
    margin: 0 auto;
    text-align: center;
    font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
    font-size: 48px;
  }

  .books-section {
    width: min(420px, 92%);
    border: 3px solid rgba(0, 0, 0, 0.9);
    padding: 2px;
    margin: 0 auto;

    .book-store {
      position: relative;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:nth-of-type(odd) {
        background-color: #c4c4c4;
      }

      .store-text {
        display: flex;
        align-items: center;
        justify-self: flex-start;
        padding: 1%;

        .book-title,
        .book-author {
          font-size: 1.4em;
          font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
          font-weight: 700;
        }

        .book-title {
          margin-right: 10px;
        }

        .book-author {
          margin-left: 10px;
        }

        .by-text {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
        }
      }

      .remove-button {
        position: absolute;
        right: 2%;
        width: 60px;
        height: 26px;
        border: 1px solid #000;
        box-shadow: 4px 3px 2px #000;
        justify-self: flex-end;
        font-size: 1.2em;
        font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
        font-weight: 700;

        &:hover {
          background-color: red;
        }

        &:active {
          background-color: rgb(242, 163, 163);
        }
      }
    }
  }

  .seperator {
    width: 200px;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: min(420px, 90%);
    font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;

    .form-title {
      font-size: 38px;
      font-weight: 500;
    }

    .input-field1,
    .input-field2 {
      width: min(340px, 92%);
      height: 32px;
      margin: 0 auto;
      color: #000;
      font-size: 1.2em;
      padding: 0 2%;
      border: 3px solid #000;
      font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
    }

    .add-button {
      width: 56px;
      height: 30px;
      color: #000;
      border: 2px solid #000;
      box-shadow: 4px 3px 2px #000;
      font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
      font-size: 1.3em;
      position: absolute;
      right: 10%;
      bottom: 0%;

      &:hover {
        background-color: aqua;
      }

      &:active {
        background-color: rgb(151, 151, 235);
      }
    }
  }
}
